*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(18, 17, 20);    
}
header{
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 30px;
    font-size: 25px;
}
.container_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cards{
    margin: 20px;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 10px;
    color: white;
}
.img_cards{
    width: 160px;
    border-radius: 5px;
}
.logo{
    width: 250px;
    display: flex;
    justify-content: center;
    margin: 70px 0 50px;
}
footer{
    display: flex;
    justify-content: center;
    padding: 11px;
    width: 120px;
    border: 1px solid white;
    border-radius: 4px;
    color: rgb(204, 196, 196);
}